body {
	background-image: url('../images/bg_1.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center; 
    background-color: #054261;
    font-family:"proxima-nova",'Proxima Nova',sans-serif;
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    z-index: 10;
    font-size: 100%;
}
   
.container {
  margin: 0px auto;
  padding: 0 10px;
}
@media all and (min-width: 1024px) {
  
  .container {
    width: 1050px;
  }
    

}
.header {
    padding: 50px 10px;
}
.header .logo{
	float: left;
	border: 0;
}
button{
	border: 0;
	background-color: #023047;
	padding: 6px 16px 6px 16px ;
	color: #C5C8CE;
	cursor: hand;
	cursor: pointer;
	min-width: 90px;
}
input{
	background-color: #407891;
	color: #fff;
	border: 0;
	padding: 5px;
	margin: 2px;
}
.forgot_password{
	color: #4A7488;
	font-size: 14px;
	text-decoration: none;
	margin-right: 14%;
}
.trading_amount{
	float:right;
	vertical-align: middle;
	list-style: none;
}
.trading_amount li{
	 height: 31px;
	 float: left;
	 color: #AFBBC0;
	 font-size: 11px;
     border: 1px solid;
     display:table-cell;
    vertical-align : middle;
}
.trading_amount li .active{
	 color: #000;
	 background-color: #CFDBE0;
}


.trading_amount li div{
	text-align: center;
	height: 32px;
	display:table-cell;
	vertical-align: middle;	
	min-width: 50px;
}

.trading_amount li img{
	text-align: center;
	display:table-cell;
	height: 40px;
	margin-top: -4px;
	border: 0;
	
}

.trading_area { padding: 13px 10px 0px 0px; width: 100%; }

.stats_table{
	 float: right;
	 clear: both;
	 margin-top: 2%;
	 color: #CBD0D1;
     width: 362px;
     height: 227px;
}

.stats_table .table_row .cell{
	float: left;
	width: 150px;
	padding: 5px 10px 4px 19px;
	margin: 1px;
}
.stats_table .table_row .dark{
	background-color: #01354D;
}

.big_cell{
	height: 90px;
	padding:15px 10px 4px 19px !important;
}

.currency_text{
	font-size: 28px;
	font-weight: 100;
}

.trading_options_container{
	float:left;
	padding-top: 3%;
}

.trading_options_container .trading_option{
	background-image: url(../images/trading_sq.png);
	width:208px;
	height: 143px;
	opacity: 0.86;
	padding: 34px 20px 0 43px;
	float:left;
}

.trading_options_container .trading_option img{
	margin: 2% 2% 0 2%;	
}
 
.btn{
	padding: 10px 30px 10px 30px !important;
	margin-top:10px;
}
.green{
	background-color: #077802;
}
.red{
	background-color: #942625;
}

.precentage{
	z-index: 19;
	float: left;
	height: 100%;
	border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: -11px;
}
.rate_text{
	z-index: 9;
	position: absolute;
	float: left;
    padding-top: 3px;
}
.rate_percentage{
	z-index: 9;
	margin-right: 5%;
	float: right;
    padding-top: 3px;
}
.success_rate_bar{
	border: 1px solid #3D8AB1;
    border-radius: 5px;
    height: 23px;
    width: 240px;
    clear:both;
    margin:185px 0 0 3px;
    padding: 0 10px 0 10px;
    background-color: #01354D;
    color: #CBD0D1;
}

.earth_container{
	float: right;
	margin: 0 ;
    width:40%;
    margin-top: 50px;
}
.globeGl{
	float: right;
}
.bottom_part{
	width: 100%;
	clear: all;
}
.history_stats{
	clear: both;	
	color: #fff;
	padding-top: 3%;
    width:60%;
    float:left;
}
.history_stats h3{
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 100;
	clear: both;
}

/* Closed positions table */
#closed_positions_table {
	width: 100%;
	float:left;
	clear: both;
    border-spacing: 0px;
    text-transform:uppercase;
    padding-right: 2px;
    font-size: 14px;
}
#closed_positions_table > tbody > tr > td {
        padding: 5px 0px 5px 5px;
}
#closed_positions_table tbody tr:nth-child(odd) {
   background-color: #01354D;
}
#closed_positions_table > thead > tr > th {
    font-weight: normal;
    text-align: left;
    text-transform:none;
}

#closed_positions_table > tbody > tr > td > span.green {
        background-color: green;
        padding:0px 3px 0px 3px;
}
#closed_positions_table > tbody > tr > td > span.red {
        background-color: red;
        padding:0px 3px 0px 3px;
}

/*Running positions table */
#running_positions_table{
	width: 100%;
	float:left;
	clear: both;
    border-spacing: 0px;
    text-transform:uppercase;
    padding-right: 2px;
    font-size: 14px;
}

#running_positions_table > thead > tr > th {
    font-weight: normal;
    text-align: left;
    text-transform:none;
    position: fixed;
    top: 0;
}
#running_positions_table tbody tr:nth-child(odd) {
   background-color: #01354D;
}
#running_positions_table > tbody > tr > td {
        padding: 5px 0px 5px 5px;
}
/* Scroll Style */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
   background:rgba(1, 53, 77, 1); 
    
}
 
::-webkit-scrollbar-thumb {
    background:rgba(212, 214, 219, 0.8);
    border-radius: 10px;
}

.hand-cursor{
	cursor: pointer;
	cursor: hand;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #BDC9CD;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #BDC9CD;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #BDC9CD;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #BDC9CD;
}

/* Footer */
footer {
    float:left;  width: 100%; border-top: 1px solid #888;/*padding: 50px 0 250px 0*/;
}
footer > .container > p > a {
    color:#fff;
    text-decoration: none;
    padding: 0px 0px 0px 23px;
}
footer > .container > p {
    padding: 2% 0%;
}
footer > .container > p > a:hover {
    text-decoration: underline;
}

/*////////  POPUP WINDOW STYLE /////////*/
.popup_window h3 {
    font-size:24px;
    padding: 0px 0px 0px 20px;
}
.popup_window h3 > b {
    font-weight: 800;
    }
.popup_window  p {
    font-size: 16px;
    padding: 0px 0px 0px 20px;
    font-weight: bold;

}
.popup_window a {
    padding: 6px 12px 6px 12px;
    background-color: #01354D;
    color:white;
    text-decoration:none !important; 
    position: relative;
    left:358px;
    top:35px;
}
.popup_window > a.btn2 { padding: 6px 20px 6px 20px; }

.popup1 {width: 535px;height: 229px; background-image: url('../images/popup_1.png'); position: absolute; top: 40%; left: 35%; }
.popup2 {width: 535px;height: 180px;background-image: url('../images/popup_2.png');  position: absolute; top: 1%; left: 50%;}
.popup2 p {padding-top:20px;} 
.popup2 a {left: 360px; top: 25px;}
.popup3 {width: 535px;height: 180px;;background-image: url('../images/popup_2.png');  position: absolute; top: 12%; left: 20%;}
.popup3 p {padding-top:10px;} 
.popup3 a {top: 13px; left: 370px;}
.popup4 {width: 432px;height: 162px;background-image: url('../images/popup_4.png'); position: absolute; top: 37%;left: 20%;}
.popup4 p {padding-top:40px;}
.popup4 a {top:20px; left: 265px;}
.popup5 {width: 411px;height: 146px;background-image: url('../images/popup_5.png'); position: absolute; top: 32%; left: 23%;}
.popup5 p {padding-top:10px;}
.popup5 a {top:2px; left: 250px;}
.popup6 {width: 432px;height: 162px;background-image: url('../images/popup_4.png'); position: absolute; top: 78%; left: 23%;}
.popup6 p {padding-top:40px;}
.popup6 a {top:20px; left: 265px;}
.popup7 {width: 411px;height: 146px;background-image: url('../images/popup_5.png'); position: absolute; top: 47%; left: 56%;}
.popup7 p {padding-top:10px;}
.popup7 a {top:3px; left: 250px;}
.popup8 {width: 535px;height: 180px;background-image: url('../images/popup_8.png'); position: absolute; top: 13%; left: 55%;}
.popup8 p {padding-top:33px;}
.popup8 a {top:-5px; left: 370px;}
.popup9 {width: 432px;height: 162px;background-image: url('../images/popup_4.png'); position: absolute; top: 13%; left: 38%;}
.popup9 p {padding-top:33px;}
.popup9 a {top:25px; left: 265px;}
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px)  { 
    .popup1 { position: absolute; top: 30%; left: 20.5%; }
    .popup2 { position: absolute; top: 1%; left: 50%;}
    .popup3 { position: absolute; top: 20%; left: 0%;}
    .popup4 { position: absolute; top: 50%;left: 0%; }
    .popup5 { position: absolute; top: 32%; left: 0%; }
    .popup6 { position: absolute; top: 78%; left: 0%; }
    .popup7 { position: absolute; top: 47%; left: 56%; }
    .popup8 { position: absolute; top: 13%; left: 55%; }
    .popup9 { position: absolute; top: 13%; left: 38%;}
}
